# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [22]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By


navegador = webdriver.Chrome()

#Pegar a cotação do dólar
navegador.get("https://www.google.com.br/")
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao dolar", Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath',
                      '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

#Pegar cotação do euro
navegador.get("https://www.google.com.br/")
navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao euro", Keys.ENTER)
cotacao_euro = navegador.find_element('xpath',
                      '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

#Pegar cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20302%2C37.")
cotacao_ouro = navegador.find_element('xpath',
                      '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")

print(cotacao_dolar, cotacao_euro, cotacao_ouro)
navegador.close()

5.246099999999999 5.354877883 304.24

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [23]:
#Atualizar a base
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [24]:
#Recalcular
tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cotacao_ouro)

#atualizar preço orifinal
tabela["Preço de Compra"] = tabela["Preço de Compra"] * tabela["Cotação"]
#atualizar preço de venda
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.246100,2.623024e+04,1.40,3.672233e+04
1,Carro Renault,4500.00,Euro,5.354878,1.445817e+05,2.00,2.891634e+05
2,Notebook Dell,899.99,Dólar,5.246100,2.360719e+04,1.70,4.013222e+04
3,IPhone,799.00,Dólar,5.246100,2.095817e+04,1.70,3.562889e+04
4,Carro Fiat,3000.00,Euro,5.354878,9.638780e+04,1.90,1.831368e+05
5,Celular Xiaomi,480.48,Dólar,5.246100,1.260323e+04,2.00,2.520646e+04
6,Joia 20g,20.00,Ouro,304.240000,2.129680e+06,1.15,2.449132e+06

### Agora vamos exportar a nova base de preços atualizada

In [28]:
#Exportar a base
#importante:ao exportar o excel formata o valor nas células

tabela.to_excel("ProdutosCot_atualizada.xlsx", index=False)
display(pd.read_excel("ProdutosCot_atualizada.xlsx"))

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.246100,2.623024e+04,1.40,3.672233e+04
1,Carro Renault,4500.00,Euro,5.354878,1.445817e+05,2.00,2.891634e+05
2,Notebook Dell,899.99,Dólar,5.246100,2.360719e+04,1.70,4.013222e+04
3,IPhone,799.00,Dólar,5.246100,2.095817e+04,1.70,3.562889e+04
4,Carro Fiat,3000.00,Euro,5.354878,9.638780e+04,1.90,1.831368e+05
5,Celular Xiaomi,480.48,Dólar,5.246100,1.260323e+04,2.00,2.520646e+04
6,Joia 20g,20.00,Ouro,304.240000,2.129680e+06,1.15,2.449132e+06